<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Age</th>
            </tr>
        </thead>
        <tbody>
            {% for ninja in dojo %}
            <tr>
                <td>ninja.first_name</td>
                <td>ninja.last_name</td>
                <td>ninja.age</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>